<!DOCTYPE html>
<html>

<head>
    <title>
        <%= title %>
    </title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
    <h1>Mi Formulario en
        <%= title %>
    </h1>
    <form action="/users" method="POST">
        <label for="">Nombre</label>
        <input name="name" type="text">
        <label for="">Apellido</label>
        <input name="lastname" type="text">
        <label for="">Contraseña</label>
        <input name="password" type="password">
        <input type="submit">
    </form>
</body>

</html>